<div class="board">
    <div class="column">
        <h1 class="board-column-header">Backlog</h1>
        <button class="add-button">+Add Todo</button>
        <div class="todo" draggable="true">
            Buy a Pizza
            <span class="close">&times;</span>
        </div>
    </div>
    <div class="column">
        <h1 class="board-column-header">Ready</h1>
    </div>
    <div class="column">
        <h1 class="board-column-header">In Progress</h1>
    </div>
    <div class="column">
        <h1 class="board-column-header">Finished</h1>
    </div>
</div>